* {
    box-sizing: border-box;
  }

  h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Style the navigation menu */
  nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(146, 247, 220);
  }

  nav li {
    float: left;
  }

  li a {
    display: block;
    color: rgb(37, 70, 179);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
  }
  
  /* Style the content
  article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #f1f1f1;
    padding: 10px;
  }
  */
  
  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: row;
      flex-direction: row;
    }
  }

   /* Style the footer */
   footer {
    padding: 2px;
    text-align: center;
    color: white;
  }
