/* body style for shipping information */
body {
	
}

/* heading one style*/
h1{
	
}
/* heading two style*/
h2{
	
}

/* form style*/
form {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  line-height: 1.8;
}
