body{
    background-color: antiquewhite
}

img{
    border-radius:20%;
    width:400px;
    height: 200px;
}

h1{
    color: black;
    text-align:left;
  letter-spacing: 3px;
  line-height: 1.8;
    font-family:monospace;

}


/* form style*/
form {
  
  text-align: justify;
  letter-spacing: 3px;
  line-height: 1.8;
}

input[type=text]{
    width: 25%;
    padding: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 10px;
}

select{ 
   border: 1px solid #ccc;
   font-size: 25px;
   height:30px;
   width: 300px;
   
}

input[type=email]{
    width: 25%;
    padding: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 10px;
}



input[type=submit]{
    background-color: antiquewhite;
    color: black;
    border: 2px solid #C87070;
    font-size: 20px;
    float: center;

    
}
